@import "tailwindcss";

:root{
  --primary:#0B2545;
  --secondary:#D4AF37;
  --background:#F8F8F6;
  --surface:#FFFFFF;
  --text:#1F2937;
  --muted:#6B7280;

  --radius:28px;
  --font-heading:var(--font-display);
  --shadow:0 15px 40px rgba(0,0,0,.08);
}

html{
  scroll-behavior:smooth;
}

body{
  background:var(--background);
  color:var(--text);
  font-family:var(--font-inter);
}

.section{
  padding:120px 0;
}

.card{
  border-radius:var(--radius);
  background:white;
  box-shadow:var(--shadow);
}

.gold{
  color:var(--secondary);
}

.bg-primary{
  background:var(--primary);
}

.bg-gold{
  background:var(--secondary);
}
h1,h2,h3,h4,h5{
  font-family:var(--font-heading);
}